@media screen and (max-width: 730px) and (min-width: 400px) {
  body {
    overflow-x: hidden;
  }

  /* .bike {
     background: url(../assets/images/home-hero-mobile.jpg);
     background-position: center;
    background-size: cover;
    min-height: 100vh; 
  } */

  .dropdown-menu {
    display: block;
    background-color: #333a44;
  }

  .dropdown-menu a {
    color: #fff;
    padding: 2rem 0 0 1rem;
  }

  .dropdown-menu li {
    padding: 1rem;
  }

  .getting {
    background: #ffa500;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 15px 40px;
    position: absolute;
    bottom: 6rem;
    margin: 0 0 0 80px;
  }

  .image-line {
    display: none;
  }

  .right_arrow {
    position: absolute;
    right: 95%;
    top: 240px;
  }

  .closed {
    display: none;
  }

  .nav-bar a {
    display: none;
  }

  .scooter {
    font-family: Space Mono;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    right: 60px;
  }

  .ride {
    line-height: 20px;
    text-align: center;
    margin-left: 10px;
  }

  .ride_paragraph {
    width: 100%;
  }

  .nav-mobile {
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
    position: absolute;
    left: 30px;
    top: 34px;
    cursor: pointer;
    color: #ffa500;
  }

  .get {
    display: none;
  }

  .button {
    position: relative;
    top: 50px;
    right: 75px;
    padding: 15px 40px;
  }

  .button:hover {
    background: none;
    border: 2px solid #ffa500;
    padding: 13px 40px;
  }

  .scoot-image {
    position: relative;
    top: 10px;
    left: 130px;
  }

  .options {
    display: flex;
    flex-direction: column;
  }

  .idea {
    position: relative;
    left: 35px;
  }

  .options img {
    margin: 25px 0 10px 50px;
  }

  .break {
    display: none;
  }

  .writing {
    position: relative;
    right: 50px;
  }

  .choice {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .images .content-2 {
    position: relative;
    right: 130px;
    bottom: 160px;
  }

  .left-arrow {
    position: relative;
    top: 100px;
    left: 10px;
    height: 80px;
    width: 80%;
  }

  .content1 {
    position: relative;
    bottom: 350px;
    right: 40px;
  }

  .content-b .page {
    font-size: 2.5rem;
  }

  .content-b .payment {
    margin-right: 50px;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .content1 {
    position: relative;
    bottom: 130px;
  }

  .images img {
    height: 70%;
    width: 100%;
  }

  .container2 {
    display: flex;
    flex-direction: column;
  }

  .learn {
    margin-left: 120px;
    padding: 15px 30px;
  }

  .container2 .content-b {
    position: relative;
    bottom: 350px;
  }

  .payment {
    margin-right: 30px;
  }

  .learning {
    position: relative;
    left: 80px;
    padding: 13px 30px;
  }

  .container2 .city img {
    width: 60%;
    position: relative;
    right: 90px;
    bottom: 120px;
  }

  .images-like .content2 {
    position: relative;
    width: 100%;
    left: -14%;
  }

  .images-like .left-arrow-1 {
    position: absolute;
    left: 25%;
    top: -60%;
    height: 30%;
    width: 70%;
  }

  .links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .footer-text {
    margin-bottom: 140px;
    font-size: 2rem;
  }

  .footer-icons {
    position: relative;
    left: 56px;
  }

  .footer-icons:hover {
    color: orange;
  }

  /* ABOUT PAGE */
  .about .circles {
    display: none;
  }

  .about-text {
    margin-left: 40px;
  }

  .mobile-container {
    display: block;
  }

  .phone {
    height: 40%;
    width: 10%;
    right: 0%;
  }

  .mobile-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .mobile-container .images {
    position: relative;
    right: 100px;
    bottom: 30px;
    width: 100%;
  }

  .mobile-content {
    position: relative;
    bottom: 95px;
    right: 40px;
  }

  .mobile-content .learns {
    display: none;
  }

  .container4 {
    display: flex;
    flex-direction: column;
  }

  .container4 .city img {
    min-width: 70vw;
    position: relative;
    right: 80px;
  }

  .content-b {
    position: relative;
    bottom: 85px;
    right: 20px;
  }

  .join {
    margin-top: 60px;
  }

  .tech-container {
    display: flex;
    flex-direction: row;
  }

  /* LOCATION PAGE STARTS HERE*/
  .career-circles {
    display: none;
  }

  .mobile-map {
    display: block;
  }

  .mobile-map img {
    width: 100%;
  }
  .world-map {
    display: none;
  }

  .map-container {
    display: flex;
    flex-direction: column;
  }

  .message-button {
    padding: 20px;
    margin: 0 150px;
  }

  .map-text {
    position: relative;
    top: 120px;
    left: 30px;
  }

  .map-message {
    margin: 0 50px;
    position: relative;
    top: 50px;
    left: 20px;
  }

  .career-text {
    margin-left: 60px;
  }

  .cities {
    display: block;
    text-align: center;
    margin: 0 5rem 2rem;
    position: relative;
    top: 90px;
  }

  .london {
    background-color: papayawhip;
    margin: 10px 0;
    padding: 20px 0;
    font-size: 1.5rem;
  }

  .tech-images {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  /* LOCATION PAGE ENDS HERE*/

  /* CAREER PAGE STARTS HERE */

  .images .content2 {
    position: relative;
    left: 10px;
    width: 90%;
  }

  .images .left-direction {
    position: relative;
    left: 10px;
    bottom: 120px;
  }

  .container .content1 {
    position: relative;
    top: -80px;
    right: 20px;
  }

  .general {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }

  .analyst {
    text-align: center;
    position: relative;
    top: 20px;
  }

  .country {
    position: relative;
    top: 10px;
  }

  .apply {
    padding: 20px 0;
  }

  /* CAREER PAGE ENDS HERE */
}
